* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vb;
    width: 100%;
}


img.logo {
    width: 5rem;
}

.card-img-top{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

div.card-body{
    background-color:blanchedalmond;
}


main {
    display: flex;
    flex-direction: column;
}

.conteiner-flex {
    display: flex;
    justify-content: space-around;
    min-height: 150px;

}

.home-section {
    display: flex;
    background-color:lightcoral ;
    flex-direction: column;

}

h2 {
    display: flex;
    justify-content: center;
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;

}
.titulo-section{
    color: white;
}

h5.card-title{
    color: blue;
}

<<<<<<< HEAD
.stats-tabla{
    display: flex;
    background-color: cadetblue;
}
/* .td-evento1, .td-evento2 ,.td-evento3{
    background-color: coral;
    margin: 1px ;
    padding: 1px;
} */
=======
>>>>>>> cf7461af33e5fb2081b2996b5eeb102df7482069
footer {
    display: flex;
    background-color: skyblue;
    align-items: center;
    min-height: 100px;
   
}