* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 5rem;
}

.aside-hbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0px;
    color: white;
    background-image: radial-gradient(circle at 105% 68.3%,
            #2f2246 0%,
            #b7119b 50%,
            #702e5f 100%);
    min-height: 50px;
}


.aside-hbar p {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
    text-align: center;
}

.aside-hbar a {
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    height: 40px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #2f2246;
    --bs-btn-border-color: #2f2246;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bc4e9e;
    --bs-btn-hover-border-color: #7e326a;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7e326a;
    --bs-btn-active-border-color: #7e326a;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

div.card-body {
    background-color: blanchedalmond;
}

.conteiner-flex {
    display: flex;
    justify-content: space-around;
    min-height: 150px;

}

.home-section {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    background-image: radial-gradient(circle at 105% 68.3%,
            #2f2246 0%,
            #b7119b 50%,
            #702e5f 100%);
    min-height: 50px;
    align-items: center;
    min-height: 100px;


}

div.card-body {
    background-color: blanchedalmond;
}

