* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 5rem;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

div.card-body {
    background-color: blanchedalmond;
}

.conteiner-flex {
    display: flex;
    justify-content: space-around;
    min-height: 150px;

}

.home-section {
    display: flex;
    background-color: lightcoral;
    flex-direction: column;

}

.form-label {
    margin: 1px;
    padding: 5px;
}

.mb-3 {
    margin: 1px;
    padding: 1px;
}

h2 {
    display: flex;
    justify-content: center;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;

}

.titulo-section {
    color: white;
}

h5.card-title {
    color: blue;
}

.stats-tabla {
    display: flex;
    background-color: cadetblue;
}

footer {
    display: flex;
    background-color: skyblue;
    align-items: center;
    min-height: 100px;


}

div.card-body {
    background-color: blanchedalmond;
}


#card_conteiner{
    background-color: lightcoral;
}